@(triggerId: Long)
@main("Agents autonomes") {

<header class='l-header'>
	<div class='l-site-header'>
		<div class='l-site-header-menus is-closed' id='site-header-menus'>
			<div class='l-site-header-menus-inner'>
				<nav class='l-site-header-flexible-nav'>
				<ul class='nav nav-site is-authenticated'>
					<form class="navbar-form pull-right"
						action="@routes.Application.userLogOut()"> 
						<button type="submit" class="btn" name="HomeButton"class="btn"> Home </button>
						<button type="submit" class="btn" name="AdminLog"class="btn"> View Log </button>
						<button type="submit" class="btn" name="LogOutButton"> Log out </button>
					</form> <br>
				</ul></nav>
			</div>
		</div>
	</div>
</header>

<article class="l-page-content">
	<div id="statement_create">
		
			<br />
			<div class="hero-unit">
				<h1>Periodic Activation (administrator)</h1>
				<p>INF380</p>
			</div>


			<div class='is-dimmable'>
				<a class='focus-here' href='#'></a>
				<h2 class='composer_section_header'>
					Trigger @triggerId 
				</h2>
				<input placeholder="Enter Period (in sec)" name="periodTriggerActivation" >
				<button class="btn" type="submit" name="activateTriggerPeriodicallyButton" value="Periodic Activation">Activate</button>				 
			</div>


	</div>
</article>

}
