@(logs: List[String])
@main("Administrator Log") {
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<header class='l-header'>
	<div class='l-site-header'>
		<div class='l-site-header-menus is-closed' id='site-header-menus'>
			<div class='l-site-header-menus-inner'>
				<nav class='l-site-header-flexible-nav'>
				<ul class='nav nav-site is-authenticated'>
					<form class="navbar-form pull-right"
						action="@routes.Application.userLogOut()"> 
						<button type="submit" class="btn" name="HomeButton"class="btn"> Home </button>
						<button type="submit" class="btn" name="LogOutButton"> Log out </button>
					</form> <br>
				</ul></nav>
			</div>
		</div>
	</div>
</header>


<article class="l-page-content">
	<div id="statement_create">

			
		<!-- Main hero unit for a primary marketing message or call to action -->
		<br/>
		<div class="hero-unit">
			<h1>Administrator Log</h1>
		</div>
		
		@for(log <- logs){
			<p class='composer_section_description'>@log</p>
		}
		
		

	</div>	
</article>	
}
</body>
</html>