@(logs: List[AdminLog])
@main("Administrator Log") {
<script type="text/javascript">

      google.load("visualization", "1", {packages:["table"]});
      google.setOnLoadCallback(drawTable);
      
      

      function drawTable() {
        var data = new google.visualization.DataTable();

        data.addColumn('number', 'ID');
        data.addColumn('string', 'Date & Time');
        data.addColumn('string', 'Recipe Name');
        data.addColumn('string', 'Trigger Channel Name');
        data.addColumn('string', 'Trigger Message');
        data.addColumn('string', 'Action Channel Name');
        data.addColumn('string', 'Action Message');
        data.addColumn('string', 'State');
        data.addColumn('string', 'User Group');
        data.addColumn('string', 'Username');

        data.addRows([
                        @for(log <- logs){
                                [@log.getId(),
                                 '@log.getDateString()',
                                 '@log.getRecipeName()',
                                 '@log.getTriggerChannelName()',
                                 '@log.getTriggerMessage()',
                                 '@log.getActionChannelName()',
                                 '@log.getActionMessage()',
                                 '@log.getStateOfActionActor()',
                                 '@log.getUserGroup()',
                                 '@log.getUser().getUsername()'
                                 ],
                        }
                ]);

        var table = new google.visualization.Table(document.getElementById('table_div'));
        table.draw(data, {showRowNumber: true});
      }
    </script>

<header class='l-header'>
        <!-- <link href="http://fonts.googleapis.com/css?family=Raleway:600,400,200"
                rel="stylesheet" type="text/css"> -->
        <div class="row1">
                <div class="small-12 medium-4 large-6 columns namelogo">
                        <h2 font-family= "Times New Roman">Agents Autonomes</h2>
                </div>
                <div class="small-12 medium-8 large-6 columns">
                        <div class="nav-bar">
                                <ul class="button-group">
                                        <li><a href="@routes.Application.loginForm()" class="button">Home</a></li>
                                        <li><a href="@routes.Application.userLogOut()" class="button">Log
out</a></li>
                                </ul>
                        </div>
                </div>
        </div>
</header>
<article class="l-page-content">
                <div id="statement_create" style="padding-bottom: 2em;">
                        <form class="navbar-form pull-right">
                                <br/>
                                <div class="hero">
                                        <div class="row">
                                                 <div class="large-12 columns intro-text">
                                                        <h2>Recipes Log</h2>
                                                        <p>Hello Administrator</p>
                                                </div>
                                        </div>
                                </div>
                                </form>
                                </div>
<!--
if(recipe.getLog().size()>0 ) {
        for(log <- recipe.getLogReverseOrder() ){
        if(log!=null){-->

        <div class='is-dimmable'>
                        <!-- <a class='focus-here' href='#'></a>
                        <h2 class='composer_section_header' style="font-size: 1rem;
padding: 10px 120px 0px 0;">
                                Log description
                         <span class='composer_section_step'>step 1 of 7</span>
                        </h2>
                        <p class='composer_section_description' style="font-size: 90%;
margin-bottom: 0px">
                                Date
                        </p> -->
                        <form class="navbar-form pull-right"
                                action="@routes.Application.viewAdministratorLog()">
                        <div class="buttonContainer">
                                <button type="submit" name="viewRecipesButton" value="View
Recipes" class="refreshButton" style="display: block; width:
100%;">Refresh Log</button>
                        </div>
                        </form>
                        <div id="wrapper">
                        <div class="adminLog">
                         <div id="table_div"></div>
                         </div>
                         </div>
        </div>
        

        
<!-- }
        }
} else {
The log is empty
} -->        
 <!-- last line -->
<div class='is-dimmable'>
        <a class='focus-here' href='#'></a>
        <h2 class='composer_section_header'> </h2>
        <p class='composer_section_description'></p>
</div>



</article>

}