@(trigger: Trigger)
@import java.math.BigInteger; var pointer=0; 
@main("Choose your trigger") {

<header class='l-header'>
	<div class='l-site-header'>
		<div class='l-site-header-menus is-closed' id='site-header-menus'>
			<div class='l-site-header-menus-inner'>
				<nav class='l-site-header-flexible-nav'>
				<ul class='nav nav-site is-authenticated'>
					<form class="navbar-form pull-right"
						action="@routes.Application.userLogOut()"> 
						<button type="submit" class="btn" name="HomeButton"class="btn"> Home </button>
						<button type="submit" class="btn" name="LogOutButton"> Log out </button>
					</form> <br>
				</ul></nav>
			</div>
		</div>
	</div>
</header>

<article class="l-page-content">
	<div id="statement_create">
		<form class="navbar-form pull-right"
			action="@routes.Application.chooseActionChannel()">
			
			<br/>
			<div class="hero-unit">
				<h1>Complete trigger fields</h1>
				<p>Agents Autonomes</p>
			</div>
			
			<div class='is-dimmable'> 
			<h2 class='composer_section_header'>
			<img alt="@trigger.getName()" class="composer_section_header_icon" src="https://d3rnbxvnd0hlox.cloudfront.net/images/channels/405156688/icons/small.png"> 
				@trigger.getName() 
			<span class='composer_section_step'>step 3 of 7</span>
			</h2>
			
			<div class="trigger_incomplete">
				<div class="tanda_wrap">
					<h3 class="channel_thing_med_name">
					@trigger.getDescription()
					</h3>
				</div>
			</div>
			
			<div class="l-clearfix trigger_fields form-euprimary">
			
			@if(trigger.getFieldName() != null && trigger.getFieldName() != "") {
				<div class="trigger-field">
					<label class="trigger-field_label" for="string_value">
					<img alt="@trigger.getFieldName()" 
					class="simple-recipe-field_channel-icon" 
					src="https://d3rnbxvnd0hlox.cloudfront.net/images/channels/1089090894/icons/small.png"
					title="@trigger.getFieldName()">
					@trigger.getFieldName()
					</label>
					<div class="clear"></div>
					<input autocapitalize="off" autocorrect="off" class="tf-text" 
					id="statement_live_trigger_attributes_live_trigger_fields_attributes_@{pointer}_string_value"
					name="trigger.getFieldName()"
					size="30"
					type="text" value>
					<div class="trigger_field_helper_text">
						Write here ... :)
					</div>
				</div>
				</div>
			} else {
				<p class="no_fields">
				No fields to complete.
				</p>
			}
				
			</div>
			
		<div id="live_trigger_submit">
			<input type="submit" id="validate_trigger_btn" class="btn-primary"
			value="Create Trigger">
		</div>
		
		</form>
	
	</div>
</article>
}