@(recipe: Recipe)
@import java.math.BigInteger; var counter=0; 
@main("Validate your recipe") {

<header class='l-header'>
	<div class='l-site-header'>
		<div class='l-site-header-menus is-closed' id='site-header-menus'>
			<div class='l-site-header-menus-inner'>
				<nav class='l-site-header-flexible-nav'>
				<ul class='nav nav-site is-authenticated'>
					<form class="navbar-form pull-right"
						action="@routes.Application.userLogOut()"> 
						<button type="submit" class="btn" name="HomeButton"class="btn"> Home </button>
						<button type="submit" class="btn" name="LogOutButton"> Log out </button>
					</form> <br>
				</ul></nav>
			</div>
		</div>
	</div>
</header>

<article class="l-page-content">
	<div id="statement_create">
		<form class="navbar-form pull-right"
			action="@routes.Application.viewRecipesAfterCreate()">
			<!-- <input class="span2" type="text" placeholder="Email"> <input
				class="span2" type="password" placeholder="Password">
			<button type="submit" class="btn">Sign in</button>
		 -->
			<!-- Main hero unit for a primary marketing message or call to action -->
			<br/>
			<div class="hero-unit">
				<h1>Validate recipe</h1>
				<p>Agents Autonomes</p>
			</div>
			
			<div class="step_parent" id="test_and_activate" style="display; block;">
				<h2 class="composer_section_header">
				Create and connect
				</h2>
				<span class="composer_section_step">step 7 of 7</span>
			</div>
			
			<div id=final_statement_here>
				<div class="statement is-dimmable">
					<span class="recipe recipe-personal recipe-big is-labeled fittext" style="font-size: 100px;">
					if
		<!-- 				<span style="display: none"> </span>
						<span style="display: none"> </span>
						<span class="recipe_trigger">
							<span class="recipe_component-icon">
								<picture>
								<source srcset="https://d3rnbxvnd0hlox.cloudfront.net/images/channels/1089090894/icons/medium.png"
								media="(min-width: 980px)">
								<source srcset="https://d3rnbxvnd0hlox.cloudfront.net/images/channels/1089090894/icons/medium.png"
								media="(min-width: 720px)">
								<img src="https://d3rnbxvnd0hlox.cloudfront.net/images/channels/1089090894/icons/regular.png"
								alt="@recipe.getTriggerChannel().getName()"
								class="channel-icon">
								</picture>
							</span> -->
							<span class="recipe_coponent-name" style="font-size: 18px;">
								@recipe.getTrigger().getName()
							</span>
						
						
						<span style="display: none"> </span>
						then
						<span style="display: none"> </span>
						
						<!-- <span class="recipe_action"> -->
<!-- 							<span class="recipe_component-icon">
								<picture>
								<source srcset="https://d3rnbxvnd0hlox.cloudfront.net/images/channels/1089090894/icons/medium.png"
								media="(min-width: 980px)">
								<source srcset="https://d3rnbxvnd0hlox.cloudfront.net/images/channels/1089090894/icons/medium.png"
								media="(min-width: 720px)">
								<img src="https://d3rnbxvnd0hlox.cloudfront.net/images/channels/1089090894/icons/regular.png"
								alt="@recipe.getActionChannel().getName()"
								class="channel-icon">
								</picture>
							</span> -->
							<span class="recipe_coponent-name" style="font-size: 18px;">
								@recipe.getAction().getName()
							</span>
						<!-- </span> -->
					</span>
				</div>
			</div>
			
			<div class="form-primary">
				<div class="description_edit">
					<label class="recipe-edit-label" for="statement_description">
					Recipe Title
					</label>
					<br>
<!-- 					<textarea class="elastic recipe-edit-desc" cols="40" id="statement_description"
					name="statement_description" rows="2" style="overflow: hidden; height: 77px;">
					If @recipe.getTriggerChannel().getName(), Then @recipe.getActionChannel().getName()
					</textarea> -->
					
					<input class="span2" type="text" style="width:500px; height: 50px;" name="recipeTitle" value="If @recipe.getTrigger().getName(), Then @recipe.getAction().getName()">
					
<!-- 					<div class="jq-elastic-twin" style="position: absolute; display: none; word-wrap: break-word; white-space: pre-wrap; line-height: 34.560001373291px; padding: 4px 9.88875007629395px; width: 83.0985870361328%; max-width: 579px; left: auto; top: auto; right: auto; bottom: auto; font-size: 23.0400009155273px; font-family: AvenirNextLTW01-Regular, helvetica, arial, sans-serif; font-weight: 400; box-sizing: border-box; border-width: 1px; border-style: solid; border-color: rgb(124, 124, 124) rgb(195, 195, 195) rgb(221, 221, 221);"
					> If @recipe.getTriggerChannel().getName(), Then @recipe.getActionChannel().getName() </div>
					<br> -->
					
					<div class="clear"></div>
				</div>
			</div>
			
			<p>
				<input class="btn-primary" data-disable-with="Creating..."
				id="statement_create_task_submit"
				name="commit"
				type="submit"
				value="Create Recipe">
			</p>
			
			</form>
		</div>
</article>
}