@(user: User) @main("Agents autonomes") {



<!DOCTYPE html>
<html
	class=' not-mobile brwsr-chrome brwsr-chrome42 os-mac non-forced-fullwidth     no-js'
	debug='true' lang='en'>
<body>

	<header class='l-header'>
		<div class='l-site-header'>
			<div class='l-site-header-menus is-closed' id='site-header-menus'>
				<div class='l-site-header-menus-inner'>
					<nav class='l-site-header-flexible-nav'>
						<ul class='nav nav-site is-authenticated'>
							<form class="navbar-form pull-right"
								action="@routes.Application.userLogOut()">
								<button type="submit" class="btn" name="HomeButton" class="btn">
									Home</button>
								<button type="submit" class="btn" name="LogOutButton">
									Log out</button>
							</form>
							<br>
						</ul>
					</nav>
				</div>
			</div>
		</div>

		<div class='l-page-header'>
			<div class='l-page-header-inner'>
				<div class='is-alone l-page-title-unit'>
					<div class="hero-unit">
						<h1>Your Recipes</h1>
						<p>Hello @user.getUsername()</p>
					</div>
				</div>
			</div>
		</div>
	</header>

	<br>
	<article class='l-page-content'>
		<div id='statements'>

			@if(user.getRecipes()!=null && user.getRecipes().size() > 0){
			@for(recipe <- user.getRecipes()) {


			<div class='page-item'>
				<div class='personal-recipe-manage' id='statement_@recipe.getId()'>
					<div class="personal-recipe-manage_visual_and_desc">
						<div class="personal_recipe_manage_visual">
							<div class='build_size' id='start'>
								<div class='is-dimmable'>
									<span class='create_recipe_inline_text_block' style="font-size:120px">if</span> <span
										style="display: none"> </span> <span
										class='create_recipe_inline_text_block'> <a
										href='# id='ind_t_channel_ID'
										ifttt-trigger-channel-button='1' title="@recipe.getRecipe().getTrigger().getName()"> <img
											alt="NAME" class="channel-list_icon_img"
											id="channel_1172726678"
											src="https://d3rnbxvnd0hlox.cloudfront.net/images/channels/28/icons/regular.png" /></a>
										<span style="display: none"> </span>
									</span> </span> <span class='create_recipe_inline_text_block' style="font-size:120px">then</span> 
									<span
										style="display: none"> </span> 
										<span class='create_recipe_inline_text_block'> 
										<a href='#' id='ind_t_channel_ID'  title="@recipe.getRecipe().getAction().getName()"> 
										<img
											alt="NAME" class="channel-list_icon_img"
											id="channel_1172726678"
											src="https://d3rnbxvnd0hlox.cloudfront.net/images/channels/28/icons/regular.png" />
										</a>
									</span>
								</div>
							</div>
						</div>
						<br>
						<a class='personal-recipe-manage_description'>
							@recipe.getRecipe().getName() </a>
					</div>
					<br> 

					<div class='personal-recipe-manage_meta'>
						<div class='personal-recipe-manage_buttons'>
							<span>
							<div id="statement_create">
									@if(recipe.getActive()){ <a> Recipe ACTIVE </a> 
<!-- 										<div>
										<span type="submit" style="float:left; display: block; width: 55px; height: 55px; background-image: url('@routes.Assets.at("images/toggleImage.png")'); background-size: cover; display: block;"></span>
										<span style="float:right; display: block; width: 55px; height: 55px; background-image: url('@routes.Assets.at("images/logImage.png")'); background-size: cover; display: block;"></span>
										</div> -->
								
									<div style="width:130px">
									<form action="@routes.Application.activateRecipe()">

											<button 
											style="
											float:left;
											width: 55px; 
											height: 55px;
											display: block;
											background: url('@routes.Assets.at("images/toggleImage.png")') no-repeat;
											background-size: 100%;
											"
											title="Turn Off Recipe"
											type="submit" 
											class="btn" 
											name="RecipeOff"
											value=@recipe.getId()>
											</button>
										</form>
										</div>
										}else{ <a> Recipe NOT ACTIVE </a>
										<div style="width:130px">
										<form action="@routes.Application.activateRecipe()">
											<button 
											style="
											float:left;
											width: 55px; 
											height: 55px;
											display: block;
											background: url('@routes.Assets.at("images/toggleImage.png")') no-repeat;
											background-size: 100%;
											"
											title="Turn On Recipe"
											type="submit"
											class="btn"
											name="RecipeOn"
											value=@recipe.getId()>
											</button>
										</form>
											}
										
										<form 
											action="@routes.Application.viewRecipeLog()">
											<button 
											style="
											float:right;
										width: 55px; 
										height: 55px;
										display: block;
										background: url('@routes.Assets.at("images/logImage.png")') no-repeat;
										background-size: 100%;
										"
										title="View Recipe Log"
											type="submit" class="btn" name="viewRecipesLog"
												value=@recipe.getId()></button>
										</form></span>
										</div>
										</div>
										</div>
						</div>
					</div>
				</div>
			</div>
			<br> } } else{ <p>You don't have any recipe</p> }


		</div>
	</article>
</body>


</html>

}
